@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("header.css");
@import url("home.css");
@import url("menu.css");
@import url("testimonials.css");
@import url("footer.css");

:root {
  --color-primary-1: #f1f1f1;
  --color-primary-2: #ffe8b4;
  --color-primary-3: #ffc145;
  --color-primary-4: #ff9500;
  --color-primary-5: #ff6800;
  --color-primary-6: #d96318;

  --color-neutral-0: #fff;
  --color-neutral-1: #1d1d1d;
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-primary-1);
}

section {
  padding: 28px 8%;
}

.btn-default {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary-5);
  border-radius: 12px;
  padding: 14px 16px;
  font-weight: 600;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-default:hover {
  background-color: var(--color-primary-3);
}

.btn-contact a {
  text-decoration: none;
  color: var(--neutral-1);
}
.social-media-buttons {
  display: flex;
  gap: 18px;
}

.social-media-buttons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 40px;
  background-color: var(--color-neutral-0);
  font-size: 1.25rem;
  border-radius: 10px;
  text-decoration: none;
  color: var(--color-neutral-1);
  box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.social-media-buttons a:hover {
  box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.1);
}

.section-title {
  color: var(--color-primary-6);
  font-size: 1.563rem;
}

.section-subtitle {
  font-size: 2.1875rem;
}
